doctype html
html
  head
    title Nakiva React Router Flux Webpack Example
    link(href='http://fonts.googleapis.com/css?family=Lato',rel='stylesheet',type='text/css')
  body
    div(id="root")
    script(src="/bundle.js")